.carousel-inner img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 12px;
}

/* Ajustes globales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Sección del Carousel (puedes personalizarlo a tu gusto) */
#inicio {
  text-align: center;
  padding-bottom: 1rem;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #333;
}

h2 {
  color: #7d3cff;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

/* Ajuste de la tabla en "Proyecto Semestral" */
#proyectoSemestral .table th {
  width: 200px;
  background-color: #f8f9fa;
}

/* Estilos para la card en "Semblanza" */
.card img {
  max-height: 350px;
  object-fit: cover;
}

/* Footer */
footer p {
  margin: 0;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #7d3cff;
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #5e2dcf;
}

.card-bullets li {
  margin-bottom: 0.5em;
}

.card ul,

.card ul li {
    color: #4d5656;
}